$font-family: PingFang SC;

$font-size-20:20rpx;
$font-size-20:22rpx;
$font-size-24:24rpx;
$font-size-24:25rpx;
$font-size-28:28rpx;
$font-size-32:32rpx;
$font-size-33:33rpx;
$font-size-34:34rpx;
$font-size-36:35rpx;
$font-size-36:36rpx;
$font-size-40:40rpx;
$font-size-44:44rpx;
$font-size-48:48rpx;
$font-size-50:50rpx;
$font-size-55:55rpx;

$font-weight-300:300;
$font-weight-400:400;
$font-weight-600:600;

$font-color-black: #000000;
$font-color-white: #FFFFFF;
$font-color-dark-pink: #D8336D 
$font-color-text-black: #00051D;
$font-color-text-grey: #8D8D8D;
$font-color-text-dark-grey: #666977;
$font-color-title: #333333;
$font-color-dark-green: #3C4D5B;
$font-color-placeholder: #D6D4D4;
$font-color-text-disable: #787878;
$font-color-title-disable: #A8A8B4;
$font-color-approve-green: #5CAF5B;
$font-color-reject-orange: #FF8C8C;
$font-color-text-dark-blue: #000B3B;
$font-color-placeholder-grey: #909193;
$font-color-serial-number-grey: #D9D9D9;
$font-color-collapse-grey: #C0C0C0;


$img-width-172:172rpx;
$img-width-224:224rpx;
$img-width-654:654rpx;
$img-width-752:752rpx;

$img-height-172:172rpx;
$img-height-280:280rpx;
$img-height-496:496rpx;
$img-height-752:752rpx;

$img-avatar-diameter-44:44rpx;
$img-avatar-diameter-84:84rpx;
$img-avatar-diameter-100:100rpx;
$img-avatar-diameter-104:104rpx;
$img-avatar-diameter-128:128rpx;
$img-avatar-diameter-232:232rpx;

$avatar-border-radius:0rpx;
$house-img-border-radius:20rpx;
$recommend-house-img-border-radius:26rpx;
$house-card-border-radius:24rpx;
$house-detail-bg-img-border-radius: 0rpx 0rpx 80rpx 80rpx;
$favorite-house-img-border-radius:32rpx;







